*.log
*.swp
__pycache__
*.pyc
.swo
.cache
build*
building-errors.log
debug.root.01
debug.01.000000
debug.02.000000
debug.03.000000
nout.000000
a2i.nc
accessom2_restart.nml
i2o.nc
o2i.nc
test_data
gmon.*
tests/minimal/*.nc
tests/JRA55_IAF/debug.root.*
tests/JRA55_RYF/debug.root.*
tests/JRA55_IAF_SINGLE_FIELD/debug.root.*
tests/*/log/
