[submodule "contrib/fdict"]
	path = contrib/fdict
	url = https://github.com/zerothi/fdict.git
[submodule "contrib/json-fortran"]
	path = contrib/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
[submodule "contrib/datetime-fortran"]
	path = contrib/datetime-fortran
	url = https://github.com/wavebitscientific/datetime-fortran.git
[submodule "contrib/oasis3-mct"]
	path = contrib/oasis3-mct
	url = https://github.com/OceansAus/oasis3-mct.git
